<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FgwDeptMapper">
    
    <resultMap type="FgwDept" id="FgwDeptResult">
        <result property="id"    column="id"    />
        <result property="pId"    column="p_id"    />
        <result property="deptId"    column="dept_id"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFgwDeptVo">
        select id, p_id, dept_id, create_by, create_time, update_by, update_time from fgw_dept
    </sql>

    <select id="selectFgwDeptList" parameterType="FgwDept" resultMap="FgwDeptResult">
        <include refid="selectFgwDeptVo"/>
        <where>  
            <if test="pId != null "> and p_id = #{pId}</if>
            <if test="deptId != null "> and dept_id = #{deptId}</if>
        </where>
    </select>
    
    <select id="selectFgwDeptById" parameterType="Long" resultMap="FgwDeptResult">
        <include refid="selectFgwDeptVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFgwDept" parameterType="FgwDept" useGeneratedKeys="true" keyProperty="id">
        insert into fgw_dept
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pId != null">p_id,</if>
            <if test="deptId != null">dept_id,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="pId != null">#{pId},</if>
            <if test="deptId != null">#{deptId},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFgwDept" parameterType="FgwDept">
        update fgw_dept
        <trim prefix="SET" suffixOverrides=",">
            <if test="pId != null">p_id = #{pId},</if>
            <if test="deptId != null">dept_id = #{deptId},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFgwDeptById" parameterType="Long">
        delete from fgw_dept where id = #{id}
    </delete>

    <delete id="deleteFgwDeptByPId" parameterType="Long">
        delete from fgw_dept where p_id = #{pId}
    </delete>

    <delete id="deleteFgwDeptByIds" parameterType="String">
        delete from fgw_dept where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteFgwDeptByPIds" parameterType="String">
        delete from fgw_dept where p_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>


    <select id="selectPIdByMap" parameterType="java.util.Map" resultType="Long">
        select DISTINCT p_id from fgw_dept
        where ${condition}

    </select>
</mapper>