<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WxNewsMapper">

    <resultMap type="WxNews" id="WxNewsResult">
        <result property="uuid"    column="uuid"    />
        <result property="title"    column="title"    />
        <result property="subtitle"    column="subtitle"    />
        <result property="label"    column="label"    />
        <result property="link"    column="link"    />
        <result property="pictureName"    column="picture_name"    />
        <result property="publishTime"    column="publish_time"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="isShow"    column="is_show"    />
        <result property="isCarousel"    column="is_carousel"    />
        <result property="isHmwz"    column="is_hmwz"    />
        <result property="isRecommendRead"    column="is_recommend_read"    />
    </resultMap>

    <sql id="selectWxNewsVo">
        select uuid, title, subtitle, label, link, picture_name, publish_time, sort_num, update_time, remark, is_show, is_carousel, is_hmwz, is_recommend_read from wx_news
    </sql>

    <select id="selectWxNewsList" parameterType="WxNews" resultMap="WxNewsResult">
        <include refid="selectWxNewsVo"/>
        <where>
            <if test="title != null  and title != ''"> and title like concat('%', #{title}, '%') </if>
            <if test="subtitle != null  and subtitle != ''"> and subtitle like concat('%', #{subtitle}, '%')</if>
            <if test="label != null  and label != ''"> and label like concat('%', #{label}, '%')</if>
            <if test="link != null  and link != ''"> and link = #{link}</if>
            <if test="isShow != null "> and is_show = #{isShow}</if>
            <if test="sortNum != null  and sortNum != ''"> and sort_num = #{sortNum}</if>
            <if test="isCarousel != null"> and is_carousel = #{isCarousel}</if>
            <if test="isHmwz != null"> and is_hmwz = #{isHmwz}</if>
            <if test="isRecommendRead != null"> and is_recommend_read = #{isRecommendRead}</if>
        </where>
        order by sort_num desc, publish_time desc
    </select>

    <select id="selectWxNewsByUuid" parameterType="String" resultMap="WxNewsResult">
        <include refid="selectWxNewsVo"/>
        where uuid = #{uuid}
    </select>

    <insert id="insertWxNews" parameterType="WxNews">
        insert into wx_news
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="uuid != null">uuid,</if>
            <if test="title != null">title,</if>
            <if test="subtitle != null">subtitle,</if>
            <if test="label != null">label,</if>
            <if test="link != null">link,</if>
            <if test="pictureName != null">picture_name,</if>
            <if test="publishTime != null">publish_time,</if>
            <if test="sortNum != null">sort_num,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isShow != null">is_show,</if>
            <if test="remark != null">remark,</if>
            <if test="isCarousel != null">is_carousel,</if>
            <if test="isHmwz != null">is_hmwz,</if>
            <if test="isRecommendRead != null">is_recommend_read,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="uuid != null">#{uuid},</if>
            <if test="title != null">#{title},</if>
            <if test="subtitle != null">#{subtitle},</if>
            <if test="label != null">#{label},</if>
            <if test="link != null">#{link},</if>
            <if test="pictureName != null">#{pictureName},</if>
            <if test="publishTime != null">#{publishTime},</if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isShow != null">#{isShow},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isCarousel != null">#{isCarousel},</if>
            <if test="isHmwz != null">#{isHmwz},</if>
            <if test="isRecommendRead != null">#{isRecommendRead},</if>
         </trim>
    </insert>

    <update id="updateWxNews" parameterType="WxNews">
        update wx_news
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="subtitle != null">subtitle = #{subtitle},</if>
            <if test="label != null">label = #{label},</if>
            <if test="link != null">link = #{link},</if>
            <if test="pictureName != null">picture_name = #{pictureName},</if>
            <if test="publishTime != null">publish_time = #{publishTime},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isShow != null">is_show = #{isShow},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isCarousel != null">is_carousel = #{isCarousel},</if>
            <if test="isHmwz != null">is_hmwz = #{isHmwz},</if>
            <if test="isRecommendRead != null">is_recommend_read = #{isRecommendRead},</if>
        </trim>
        where uuid = #{uuid}
    </update>

    <delete id="deleteWxNewsByUuid" parameterType="String">
        delete from wx_news where uuid = #{uuid}
    </delete>

    <delete id="deleteWxNewsByUuids" parameterType="String">
        delete from wx_news where uuid in
        <foreach item="uuid" collection="array" open="(" separator="," close=")">
            #{uuid}
        </foreach>
    </delete>

    <select id="checkSortNum" parameterType="integer" resultType="integer">
        select count(*) from wx_news where sort_num = #{sortNum}
    </select>

    <select id="searchWxNewsList" parameterType="String" resultMap="WxNewsResult">
        <include refid="selectWxNewsVo"/>
        <where>
            <if test="content != null and content != ''">
                title like concat('%', #{content}, '%')
                or
                subtitle like concat('%', #{content}, '%')
            </if>
        </where>
        order by sort_num desc, publish_time desc
    </select>
</mapper>
