<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.WxUserLogininfoMapper">

    <resultMap type="WxUserLogininfo" id="WxUserLogininfoResult">
        <result property="phone"    column="phone"    />
        <result property="wechatName"    column="wechat_name"    />
        <result property="idcard"    column="idcard"    />
        <result property="realName"    column="real_name"    />
        <result property="sex"    column="sex"    />
        <result property="registerTime"    column="register_time"    />
        <result property="loginTime"    column="login_time"    />
        <result property="otherPhone"    column="other_phone"    />
        <result property="marStatus"    column="mar_status"    />
        <result property="hProvince"    column="h_province"    />
        <result property="hCity"    column="h_city"    />
        <result property="hCounty"    column="h_county"    />
        <result property="hFullAddr"    column="h_full_addr"    />
        <result property="jProvince"    column="j_province"    />
        <result property="jCity"    column="j_city"    />
        <result property="jCounty"    column="j_county"    />
        <result property="jFullAddr"    column="j_full_addr"    />
        <result property="school"    column="school"    />
        <result property="xl"    column="xl"    />
        <result property="jn"    column="jn"    />
        <result property="online"    column="online"   />
        <result property="photo"    column="photo"   />
        <result property="age"    column="age"   />
        <result property="openId"    column="open_id"   />
    </resultMap>

    <sql id="selectWxUserLogininfoVo">
        select phone, wechat_name, idcard, real_name, sex, register_time, login_time, other_phone, mar_status, h_province, h_city, h_county, h_full_addr, j_province, j_city, j_county, j_full_addr, school, xl, jn,online,photo,age,open_id from wx_user_logininfo
    </sql>

    <select id="selectWxUserLogininfoList" parameterType="WxUserLogininfo" resultMap="WxUserLogininfoResult">
        <include refid="selectWxUserLogininfoVo"/>
        <where>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="wechatName != null  and wechatName != ''"> and wechat_name like concat('%', #{wechatName}, '%')</if>
            <if test="idcard != null  and idcard != ''"> and idcard like concat('%', #{idcard}, '%')</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
        </where>
    </select>

    <select id="selectWxUserLogininfoList3" parameterType="WxUserLogininfo" resultMap="WxUserLogininfoResult">
        <include refid="selectWxUserLogininfoVo"/>
        <where>
            <if test="phone != null  and phone != ''"> and phone like concat('%', #{phone}, '%')</if>
            <if test="wechatName != null  and wechatName != ''"> and wechat_name like concat('%', #{wechatName}, '%')</if>
            <if test="idcard != null  and idcard != ''"> and idcard like concat('%', #{idcard}, '%')</if>
            <if test="realName != null  and realName != ''"> and real_name like concat('%', #{realName}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="online != null  and online != ''"> and online = #{online} </if>
            <if test="age != null  and age != ''"> and age = #{age}</if>
            <if test="openId != null  and openId != ''"> and open_id = #{openId}</if>
        </where>
        ORDER BY login_time desc
    </select>

    <select id="selectWxUserLogininfoByPhone" parameterType="String" resultMap="WxUserLogininfoResult">
        <include refid="selectWxUserLogininfoVo"/>
        where phone = #{phone}
    </select>

    <insert id="insertWxUserLogininfo" parameterType="WxUserLogininfo">
        insert into wx_user_logininfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">phone,</if>
            <if test="wechatName != null">wechat_name,</if>
            <if test="photo != null">photo,</if>
            <if test="idcard != null">idcard,</if>
            <if test="realName != null">real_name,</if>
            <if test="sex != null">sex,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="loginTime != null">login_time,</if>
            <if test="otherPhone != null">other_phone,</if>
            <if test="marStatus != null">mar_status,</if>
            <if test="hProvince != null">h_province,</if>
            <if test="hCity != null">h_city,</if>
            <if test="hCounty != null">h_county,</if>
            <if test="hFullAddr != null">h_full_addr,</if>
            <if test="jProvince != null">j_province,</if>
            <if test="jCity != null">j_city,</if>
            <if test="jCounty != null">j_county,</if>
            <if test="jFullAddr != null">j_full_addr,</if>
            <if test="school != null">school,</if>
            <if test="xl != null">xl,</if>
            <if test="jn != null">jn,</if>
            <if test="age != null">age,</if>
            <if test="openId != null">open_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">#{phone},</if>
            <if test="wechatName != null">#{wechatName},</if>
            <if test="photo != null">#{photo},</if>
            <if test="idcard != null">#{idcard},</if>
            <if test="realName != null">#{realName},</if>
            <if test="sex != null">#{sex},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="loginTime != null">#{loginTime},</if>
            <if test="otherPhone != null">#{otherPhone},</if>
            <if test="marStatus != null">#{marStatus},</if>
            <if test="hProvince != null">#{hProvince},</if>
            <if test="hCity != null">#{hCity},</if>
            <if test="hCounty != null">#{hCounty},</if>
            <if test="hFullAddr != null">#{hFullAddr},</if>
            <if test="jProvince != null">#{jProvince},</if>
            <if test="jCity != null">#{jCity},</if>
            <if test="jCounty != null">#{jCounty},</if>
            <if test="jFullAddr != null">#{jFullAddr},</if>
            <if test="school != null">#{school},</if>
            <if test="xl != null">#{xl},</if>
            <if test="jn != null">#{jn},</if>
            <if test="age != null">#{age},</if>
            <if test="openId != null">#{openId},</if>
         </trim>
    </insert>

    <update id="updateWxUserLogininfo" parameterType="WxUserLogininfo">
        update wx_user_logininfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="wechatName != null">wechat_name = #{wechatName},</if>
            <if test="photo != null">photo = #{photo},</if>
            <if test="idcard != null">idcard = #{idcard},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="loginTime != null">login_time = #{loginTime},</if>
            <if test="otherPhone != null">other_phone = #{otherPhone},</if>
            <if test="marStatus != null">mar_status = #{marStatus},</if>
            <if test="hProvince != null">h_province = #{hProvince},</if>
            <if test="hCity != null">h_city = #{hCity},</if>
            <if test="hCounty != null">h_county = #{hCounty},</if>
            <if test="hFullAddr != null">h_full_addr = #{hFullAddr},</if>
            <if test="jProvince != null">j_province = #{jProvince},</if>
            <if test="jCity != null">j_city = #{jCity},</if>
            <if test="jCounty != null">j_county = #{jCounty},</if>
            <if test="jFullAddr != null">j_full_addr = #{jFullAddr},</if>
            <if test="school != null">school = #{school},</if>
            <if test="xl != null">xl = #{xl},</if>
            <if test="jn != null">jn = #{jn},</if>
            <if test="online != null">online = #{online},</if>
            <if test="age != null">age = #{age},</if>
            <if test="openId != null">open_id = #{openId},</if>
        </trim>
        where phone = #{phone}
    </update>

    <delete id="deleteWxUserLogininfoByPhone" parameterType="String">
        delete from wx_user_logininfo where phone = #{phone}
    </delete>

    <delete id="deleteWxUserLogininfoByPhones" parameterType="String">
        delete from wx_user_logininfo where phone in
        <foreach item="phone" collection="array" open="(" separator="," close=")">
            #{phone}
        </foreach>
    </delete>

    <select id="selectByPhone" resultType="com.ruoyi.system.domain.WxUserLogininfo">
        <include refid="selectWxUserLogininfoVo"/>
        <where>
            <if test="phone != null and phone != ''"> and phone = #{phone}</if>
        </where>
    </select>

    <update id="updateLoginTimeByPhone" parameterType="com.ruoyi.system.domain.WxUserLogininfo">
        update wx_user_logininfo set login_time = #{loginTime} where phone = #{phone}
    </update>

    <update id="updateOfflineStatus" parameterType="java.util.HashSet">
        update wx_user_logininfo
        set online = 0
        where phone not in
        <foreach collection="set" open="(" separator="," close=")" item="val">
            ${val}
        </foreach>
    </update>

</mapper>
