<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.electricity.mapper.YdEnterpriseInfoMapper">

    <resultMap type="YdEnterpriseInfo" id="YdEnterpriseInfoResult">
        <result property="id"    column="id"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="name"    column="name"    />
        <result property="meterNumber"    column="meter_number"    />
        <result property="status"    column="status"    />
        <result property="address"    column="address"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="monitors"    column="monitors"    />
        <result property="remark"    column="remark"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectYdEnterpriseInfoVo">
        select id, sort_num, name, meter_number, status, address, contact, phone, monitors, remark, create_time, update_time from yd_enterprise_info
    </sql>

    <select id="selectYdEnterpriseInfoList" parameterType="YdEnterpriseInfo" resultMap="YdEnterpriseInfoResult">
        select id,
               ei.sort_num,
               ei.name,
               ei.meter_number,
               (
                    select status from yd_warning_data where meter_number = ei.meter_number ORDER BY data_time DESC limit 1
               ) as status,
               ei.address,
               ei.contact,
               ei.phone,
               ei.monitors,
               ei.remark,
               ei.create_time,
               ei.update_time
        from yd_enterprise_info ei
        <where>
            <if test="sortNum != null "> and sort_num = #{sortNum}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="meterNumber != null  and meterNumber != ''"> and meter_number = #{meterNumber}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="address != null  and address != ''"> and address = #{address}</if>
            <if test="contact != null  and contact != ''"> and contact = #{contact}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="monitors != null  and monitors != ''"> and monitors = #{monitors}</if>
        </where>
        order by ei.sort_num desc
    </select>

    <select id="selectYdEnterpriseInfoById" parameterType="Long" resultMap="YdEnterpriseInfoResult">
        <include refid="selectYdEnterpriseInfoVo"/>
        where id = #{id}
    </select>

    <insert id="insertYdEnterpriseInfo" parameterType="YdEnterpriseInfo" useGeneratedKeys="true" keyProperty="id">
        insert into yd_enterprise_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sortNum != null">sort_num,</if>
            <if test="name != null">name,</if>
            <if test="meterNumber != null">meter_number,</if>
            <if test="status != null">status,</if>
            <if test="address != null">address,</if>
            <if test="contact != null">contact,</if>
            <if test="phone != null">phone,</if>
            <if test="monitors != null">monitors,</if>
            <if test="remark != null">remark,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sortNum != null">#{sortNum},</if>
            <if test="name != null">#{name},</if>
            <if test="meterNumber != null">#{meterNumber},</if>
            <if test="status != null">#{status},</if>
            <if test="address != null">#{address},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="monitors != null">#{monitors},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateYdEnterpriseInfo" parameterType="YdEnterpriseInfo">
        update yd_enterprise_info
        <trim prefix="SET" suffixOverrides=",">
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="name != null">name = #{name},</if>
            <if test="meterNumber != null">meter_number = #{meterNumber},</if>
            <if test="status != null">status = #{status},</if>
            <if test="address != null">address = #{address},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="monitors != null">monitors = #{monitors},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteYdEnterpriseInfoById" parameterType="Long">
        delete from yd_enterprise_info where id = #{id}
    </delete>

    <delete id="deleteYdEnterpriseInfoByIds" parameterType="String">
        delete from yd_enterprise_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
