<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.electricity.mapper.YdEnterpriseDataMapper">

    <resultMap type="YdEnterpriseData" id="YdEnterpriseDataResult">
        <result property="id"    column="id"    />
        <result property="meterNumber"    column="meter_number"    />
        <result property="userName"    column="user_name"    />
        <result property="dataDate"    column="data_date"    />
        <result property="dataTime"    column="data_time"    />
        <result property="totalActivePower"    column="total_active_power"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="fullTime"    column="full_time"    />
    </resultMap>

    <sql id="selectYdEnterpriseDataVo">
        select id, meter_number, user_name, data_date, data_time, total_active_power, create_time, update_time, full_time from yd_enterprise_data
    </sql>

    <select id="selectYdEnterpriseDataList" parameterType="YdEnterpriseData" resultMap="YdEnterpriseDataResult">
        <include refid="selectYdEnterpriseDataVo"/>
        <where>
            <if test="meterNumber != null  and meterNumber != ''"> and meter_number = #{meterNumber}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="dataDate != null  and dataDate != ''"> and data_date = #{dataDate}</if>
            <if test="dataTime != null  and dataTime != ''"> and data_time = #{dataTime}</if>
            <if test="totalActivePower != null "> and total_active_power = #{totalActivePower}</if>
        </where>
        order by full_time desc
    </select>

    <select id="selectYdEnterpriseDataById" parameterType="Long" resultMap="YdEnterpriseDataResult">
        <include refid="selectYdEnterpriseDataVo"/>
        where id = #{id}
    </select>

    <select id="getNewDay" resultType="java.lang.String">
        select max(data_date)
        from yd_enterprise_data
        where meter_number = #{meterNumber}
    </select>

    <select id="selectData" resultType="com.alibaba.fastjson2.JSONObject">
        select
            total_active_power as count,
            full_time as time
        from yd_enterprise_data
        where data_date = #{time}
          and meter_number = #{meterNumber}
        order by data_time
    </select>

    <select id="getNewMonth" resultType="java.lang.String">
        SELECT DISTINCT MONTH(full_time) AS latest_month
        FROM yd_enterprise_data
        ORDER BY full_time DESC LIMIT 1;
    </select>

    <select id="selectMonthData" resultType="com.alibaba.fastjson2.JSONObject">
        SELECT
            DATE(data_date) AS time,
            SUM(total_active_power) / COUNT(*) AS count
        FROM
            yd_enterprise_data
        WHERE
            meter_number = #{meterNumber} AND DATE_FORMAT(data_date, '%Y-%m') = DATE_FORMAT(#{time}, '%Y-%m')
        GROUP BY
            time
        ORDER BY
            time
    </select>

    <select id="selectByParam" resultType="Long">
        select id from yd_enterprise_data where meter_number = #{meterNumber} and data_date = #{dataDate} and data_time = #{dataTime}
    </select>

    <insert id="insertYdEnterpriseData" parameterType="YdEnterpriseData" useGeneratedKeys="true" keyProperty="id">
        insert into yd_enterprise_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="meterNumber != null">meter_number,</if>
            <if test="userName != null">user_name,</if>
            <if test="dataDate != null">data_date,</if>
            <if test="dataTime != null">data_time,</if>
            <if test="totalActivePower != null">total_active_power,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="fullTime != null">full_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="meterNumber != null">#{meterNumber},</if>
            <if test="userName != null">#{userName},</if>
            <if test="dataDate != null">#{dataDate},</if>
            <if test="dataTime != null">#{dataTime},</if>
            <if test="totalActivePower != null">#{totalActivePower},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="fullTime != null">#{fullTime},</if>
        </trim>
    </insert>

    <insert id="insertBaths" parameterType="java.util.List">
        INSERT INTO yd_enterprise_data (meter_number, user_name,data_date,data_time, total_active_power, full_time)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (
            <choose>
                <when test="item.meterNumber != null">#{item.meterNumber}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="item.userName != null">#{item.userName}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="item.dataDate != null">#{item.dataDate}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="item.dataTime != null">#{item.dataTime}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="item.totalActivePower != null">#{item.totalActivePower}</when>
                <otherwise>null</otherwise>
            </choose>,
            <choose>
                <when test="item.fullTime != null">#{item.fullTime}</when>
                <otherwise>null</otherwise>
            </choose>
            )
        </foreach>
    </insert>

    <update id="updateYdEnterpriseData" parameterType="YdEnterpriseData">
        update yd_enterprise_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="meterNumber != null">meter_number = #{meterNumber},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="dataDate != null">data_date = #{dataDate},</if>
            <if test="dataTime != null">data_time = #{dataTime},</if>
            <if test="totalActivePower != null">total_active_power = #{totalActivePower},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="fullTime != null">full_time = #{fullTime},</if>
        </trim>
        where id = #{id}
    </update>

    <update id="updateData" parameterType="YdEnterpriseData">
        update yd_enterprise_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null">user_name = #{userName},</if>
            <if test="totalActivePower != null">total_active_power = #{totalActivePower},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where meter_number = #{meterNumber} and data_date = #{dataDate} and data_time = #{dataTime}
    </update>

    <delete id="deleteYdEnterpriseDataById" parameterType="Long">
        delete from yd_enterprise_data where id = #{id}
    </delete>

    <delete id="deleteYdEnterpriseDataByIds" parameterType="String">
        delete from yd_enterprise_data where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getMaxUpdateTime" resultType="String">
        SELECT max(update_time) FROM yd_enterprise_data
    </select>
</mapper>
