<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.CszyCameraListMapper">

    <resultMap type="CszyCameraList" id="CszyCameraListResult">
        <result property="id"    column="id"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="name"    column="name"    />
        <result property="typeId"    column="type_id"    />
        <result property="cameraId"    column="camera_id"    />
        <result property="dept"    column="dept"    />
        <result property="networkOperators"    column="network_operators"    />
        <result property="contact"    column="contact"    />
        <result property="phone"    column="phone"    />
        <result property="picture"    column="picture"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="status"    column="status"    />
        <result property="category"    column="category"    />
        <result property="video"    column="video"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectCszyCameraListVo">
        select id, sort_num, name, type_id, camera_id, dept, network_operators, contact, phone, picture, lon, lat, status, category, video, create_time, update_time from cszy_camera_list
    </sql>

    <select id="selectCszyCameraListList" parameterType="CszyCameraList" resultMap="CszyCameraListResult">
        <include refid="selectCszyCameraListVo"/>
        <where>
            <if test="sortNum != null "> and sort_num = #{sortNum}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="cameraId != null  and cameraId != ''"> and camera_id = #{cameraId}</if>
            <if test="dept != null  and dept != ''"> and dept like concat('%', #{dept}, '%')</if>
            <if test="networkOperators != null  and networkOperators != ''"> and network_operators like concat('%', #{networkOperators}, '%')</if>
            <if test="contact != null  and contact != ''"> and contact like concat('%', #{contact}, '%')</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="lon != null "> and lon = #{lon}</if>
            <if test="lat != null "> and lat = #{lat}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="category != null  and category != ''"> and category = #{category}</if>
            <if test="video != null  and video != ''"> and video = #{video}</if>
        </where>
        order by sort_num desc, create_time desc
    </select>

    <select id="selectCszyCameraListById" parameterType="Long" resultMap="CszyCameraListResult">
        <include refid="selectCszyCameraListVo"/>
        where id = #{id}
    </select>

    <insert id="insertCszyCameraList" parameterType="CszyCameraList" useGeneratedKeys="true" keyProperty="id">
        insert into cszy_camera_list
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="sortNum != null">sort_num,</if>
            <if test="name != null">name,</if>
            <if test="typeId != null">type_id,</if>
            <if test="cameraId != null">camera_id,</if>
            <if test="dept != null">dept,</if>
            <if test="networkOperators != null">network_operators,</if>
            <if test="contact != null">contact,</if>
            <if test="phone != null">phone,</if>
            <if test="picture != null">picture,</if>
            <if test="lon != null">lon,</if>
            <if test="lat != null">lat,</if>
            <if test="status != null">status,</if>
            <if test="category != null">category,</if>
            <if test="video != null">video,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="sortNum != null">#{sortNum},</if>
            <if test="name != null">#{name},</if>
            <if test="typeId != null">#{typeId},</if>
            <if test="cameraId != null">#{cameraId},</if>
            <if test="dept != null">#{dept},</if>
            <if test="networkOperators != null">#{networkOperators},</if>
            <if test="contact != null">#{contact},</if>
            <if test="phone != null">#{phone},</if>
            <if test="picture != null">#{picture},</if>
            <if test="lon != null">#{lon},</if>
            <if test="lat != null">#{lat},</if>
            <if test="status != null">#{status},</if>
            <if test="category != null">#{category},</if>
            <if test="video != null">#{video},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateCszyCameraList" parameterType="CszyCameraList">
        update cszy_camera_list
        <trim prefix="SET" suffixOverrides=",">
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="name != null">name = #{name},</if>
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="cameraId != null">camera_id = #{cameraId},</if>
            <if test="dept != null">dept = #{dept},</if>
            <if test="networkOperators != null">network_operators = #{networkOperators},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="lon != null">lon = #{lon},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="status != null">status = #{status},</if>
            <if test="category != null">category = #{category},</if>
            <if test="video != null">video = #{video},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCszyCameraListById" parameterType="Long">
        delete from cszy_camera_list where id = #{id}
    </delete>

    <delete id="deleteCszyCameraListByIds" parameterType="String">
        delete from cszy_camera_list where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
