<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.app.mapper.HkxcIntroduceMapper">

    <resultMap type="HkxcIntroduce" id="HkxcIntroduceResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="picture"    column="picture"    />
        <result property="content"    column="content"    />
        <result property="sortNum"    column="sort_num"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHkxcIntroduceVo">
        select id, title, picture, content, sort_num, create_time, update_time from hkxc_introduce
    </sql>

    <select id="selectHkxcIntroduceList" parameterType="HkxcIntroduce" resultMap="HkxcIntroduceResult">
        <include refid="selectHkxcIntroduceVo"/>
        <where>
            <if test="title != null  and title != ''"> and title like concat('%',#{title},'%')</if>
            <if test="picture != null  and picture != ''"> and picture = #{picture}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
            <if test="sortNum != null "> and sort_num = #{sortNum}</if>
        </where>
        order by sort_num desc, create_time desc
    </select>

    <select id="selectHkxcIntroduceById" parameterType="Long" resultMap="HkxcIntroduceResult">
        <include refid="selectHkxcIntroduceVo"/>
        where id = #{id}
    </select>

    <insert id="insertHkxcIntroduce" parameterType="HkxcIntroduce">
        insert into hkxc_introduce
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="title != null">title,</if>
            <if test="picture != null">picture,</if>
            <if test="content != null">content,</if>
            <if test="sortNum != null">sort_num,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="title != null">#{title},</if>
            <if test="picture != null">#{picture},</if>
            <if test="content != null">#{content},</if>
            <if test="sortNum != null">#{sortNum},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateHkxcIntroduce" parameterType="HkxcIntroduce">
        update hkxc_introduce
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null">title = #{title},</if>
            <if test="picture != null">picture = #{picture},</if>
            <if test="content != null">content = #{content},</if>
            <if test="sortNum != null">sort_num = #{sortNum},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHkxcIntroduceById" parameterType="Long">
        delete from hkxc_introduce where id = #{id}
    </delete>

    <delete id="deleteHkxcIntroduceByIds" parameterType="String">
        delete from hkxc_introduce where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
