<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.onePicture.mapper.FileMapper">

    <resultMap type="com.ruoyi.onePicture.domain.XcxFile" id="fileMap">
        <result property="id"    column="id"    />
        <result property="fileName"    column="file_name"    />
        <result property="path"    column="path"    />
        <result property="size"    column="size"    />
        <result property="suffix"    column="suffix"    />
        <result property="uploadTime"    column="upload_time"    />
    </resultMap>

    <sql id="selectXcxColumnVo">
        select id, file_name, path, size, suffix, upload_time from xcx_file
    </sql>


    <select id="selectFileByIdList" resultMap="fileMap">
        <include refid="selectXcxColumnVo"/>
        where id in
        <foreach collection="idList" item="id" close=")" open="(" separator=",">
            #{id}
        </foreach>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into xcx_file
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="fileName != null">file_name,</if>
            <if test="path != null">path,</if>
            <if test="size != null">size,</if>
            <if test="suffix != null">suffix,</if>
            <if test="uploadTime != null">upload_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="fileName != null">#{fileName},</if>
            <if test="path != null">#{path},</if>
            <if test="size != null">#{size},</if>
            <if test="suffix != null">#{suffix},</if>
            <if test="uploadTime != null">#{uploadTime},</if>
        </trim>
    </insert>

</mapper>
