<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.onePicture.mapper.XcxCameraThirdMapper">

    <resultMap type="com.ruoyi.onePicture.domain.XcxCameraContent" id="XcxCameraContentResult">
        <result property="id"    column="id"    />
        <result property="typeId"    column="type_id"    />
        <result property="columnId"    column="column_id"    />
        <result property="contentName"    column="content_name"    />
        <result property="introduction"    column="introduction"    />
        <result property="phone"    column="phone"    />
        <result property="fileIds"    column="file_ids"    />
        <result property="contentSort"    column="content_sort"    />
        <result property="contentStatus"    column="content_status"    />
        <result property="createTime"    column="create_time"    />
        <result property="lon"    column="lon"    />
        <result property="lat"    column="lat"    />
        <result property="thumbnail"    column="thumbnail"    />
        <result property="showType"    column="show_type"    />
        <result property="collectionStatus"    column="collection_status"    />
        <result property="linkType"    column="link_type"    />
        <result property="employmentType"    column="employment_type"    />
        <result property="contact"    column="contact"    />
        <result property="remark"    column="remark"    />
        <result property="dept"    column="dept"    />
        <result property="operators"    column="operators"    />
    </resultMap>

    <sql id="selectXcxCameraContentVo">
        select id,type_id,column_id,content_name,introduction,phone,file_ids,content_sort,content_status,create_time,lon,lat,thumbnail,link_type,employment_type,contact,remark,dept,operators from xcx_camera_third
    </sql>

    <select id="selectXcxCameraContentList" parameterType="XcxCameraContent" resultMap="XcxCameraContentResult">
        <include refid="selectXcxCameraContentVo"/>
        <where>
            <if test="typeId != null "> and type_id = #{typeId}</if>
            <if test="columnId != null "> and column_id = #{columnId}</if>
            <if test="contentName != null  and contentName != ''"> and content_name like concat('%', #{contentName}, '%')</if>
            <if test="introduction != null  and introduction != ''"> and introduction = #{introduction}</if>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="fileIds != null  and fileIds != ''"> and file_ids = #{fileIds}</if>
            <if test="contentSort != null "> and content_sort = #{contentSort}</if>
            <if test="contentStatus != null "> and content_status = #{contentStatus}</if>
            <if test="contact != null "> and contact = #{contact}</if>
            <if test="remark != null "> and remark = #{remark}</if>
            <if test="dept != null "> and dept like concat('%', #{dept}, '%')</if>
            <if test="operators != null "> and operators like concat('%', #{operators}, '%')</if>
        </where>
        order by content_sort DESC
    </select>

    <select id="selectXcxCameraContentById" parameterType="Long" resultMap="XcxCameraContentResult">
        <include refid="selectXcxCameraContentVo"/>
        where id = #{id}
    </select>

    <select id="selectByColumnId" resultMap="XcxCameraContentResult">
        select xc.*
        <if test="phone != null  and phone != ''">
            , xcl.collection_status
        </if>
        from xcx_camera_third xc
        <if test="phone != null  and phone != ''">
            left join
                (select * from xcx_collection where phone = #{phone}) xcl
            on xc.id = xcl.content_id
        </if>
        left join xcx_camera_second xcs on xc.column_id = xcs.id
        <where>
            <if test="columnId != null and searchType == 0">
                and xcs.type_id like concat('%',#{columnId},'%')
            </if>
            <if test="columnId != null and searchType == 1">
                and xc.column_id = #{columnId}
            </if>
            <if test="contentName != null  and contentName != ''">
                and xc.content_name like concat('%', #{contentName}, '%')
            </if>
            <if test="dept != null ">
                and dept like concat('%', #{dept}, '%')
            </if>
            <if test="operators != null ">
                and operators like concat('%', #{operators}, '%')
            </if>
        </where>
        order by xc.content_sort desc
    </select>

    <select id="selectSort" resultType="java.lang.Integer">
        select count(1) from xcx_camera_third where content_sort = #{contentSort}
        <if test="id!=null">
            and id != #{id}
        </if>
        and column_id = #{columnId}
    </select>

    <insert id="insertXcxCameraContent" parameterType="XcxCameraContent" useGeneratedKeys="true" keyProperty="id">
        insert into xcx_camera_third
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeId != null">type_id,</if>
            <if test="columnId != null">column_id,</if>
            <if test="contentName != null">content_name,</if>
            <if test="introduction != null">introduction,</if>
            <if test="phone != null">phone,</if>
            <if test="lon != null">lon,</if>
            <if test="lat != null">lat,</if>
            <if test="thumbnail != null">thumbnail,</if>
            <if test="fileIds != null">file_ids,</if>
            <if test="contentSort != null">content_sort,</if>
            <if test="contentStatus != null">content_status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="linkType != null">link_type,</if>
            <if test="employmentType != null">employment_type,</if>
            <if test="contact != null">contact,</if>
            <if test="remark != null">remark,</if>
            <if test="dept != null">dept,</if>
            <if test="operators != null">operators,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeId != null">#{typeId},</if>
            <if test="columnId != null">#{columnId},</if>
            <if test="contentName != null">#{contentName},</if>
            <if test="introduction != null">#{introduction},</if>
            <if test="phone != null">#{phone},</if>
            <if test="lon != null">#{lon},</if>
            <if test="lat != null">#{lat},</if>
            <if test="thumbnail != null">#{thumbnail},</if>
            <if test="fileIds != null">#{fileIds},</if>
            <if test="contentSort != null">#{contentSort},</if>
            <if test="contentStatus != null">#{contentStatus},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="linkType != null">#{linkType},</if>
            <if test="employmentType != null">#{employmentType},</if>
            <if test="contact != null">#{contact},</if>
            <if test="remark != null">#{remark},</if>
            <if test="dept != null">#{dept},</if>
            <if test="operators != null">#{operators},</if>
         </trim>
    </insert>

    <update id="updateXcxCameraContent" parameterType="XcxCameraContent">
        update xcx_camera_third
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null">type_id = #{typeId},</if>
            <if test="columnId != null">column_id = #{columnId},</if>
            <if test="contentName != null">content_name = #{contentName},</if>
            <if test="introduction != null">introduction = #{introduction},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="lon != null">lon = #{lon},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="thumbnail != null">thumbnail = #{thumbnail},</if>
            <if test="fileIds != null">file_ids = #{fileIds},</if>
            <if test="contentSort != null">content_sort = #{contentSort},</if>
            <if test="contentStatus != null">content_status = #{contentStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="linkType != null">link_type = #{linkType},</if>
            <if test="employmentType != null">employment_type = #{employmentType},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="dept != null">dept = #{dept},</if>
            <if test="operators != null">operators = #{operators},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXcxCameraContentById" parameterType="Long">
        delete from xcx_camera_third where id = #{id}
    </delete>

    <delete id="deleteXcxCameraContentByIds" parameterType="String">
        delete from xcx_camera_third where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByTypeIds">
        delete from xcx_camera_third where type_id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteByColumnIds">
        delete from xcx_camera_third where column_id in
        <foreach item="id" collection="ids" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getListByCollectionPhone" resultMap="XcxCameraContentResult">
        select xc.*, xl.show_type, 1 as collection_status
        from xcx_camera_third xc
        left join xcx_column xl on xl.id = xc.column_id
        where xc.id in
              (select distinct(content_id) from xcx_collection
               where content_id is not null and phone = #{phone})
    </select>

    <select id="searchContent" resultMap="XcxCameraContentResult">
        select xc.*, xl.show_type, xcl.collection_status
        from xcx_camera_third xc
        left join xcx_column xl on xl.id = xc.column_id
        left join
             (select * from xcx_collection where content_id is not null and phone = #{phone}) xcl
        on xc.id = xcl.content_id
        where xc.content_name like concat('%',#{contentName},'%')
    </select>

    <select id="selectDistinctDept" resultType="com.alibaba.fastjson2.JSONObject">
        select distinct(dept) as label, dept AS value
        from xcx_camera_third
        where dept is not null and dept != ''
    </select>

</mapper>
