<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xcx.mapper.XcxCameraFirstMapper">

    <resultMap type="com.ruoyi.xcx.domain.XcxCameraType" id="XcxCameraTypeResult">
        <result property="id"    column="id"    />
        <result property="typeName"    column="type_name"    />
        <result property="sort"    column="sort"    />
        <result property="typeStatus"    column="type_status"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectXcxCameraTypeVo">
        select id, type_name, sort, type_status, create_time from xcx_camera_first
    </sql>

    <select id="selectXcxCameraTypeList" parameterType="XcxCameraType" resultMap="XcxCameraTypeResult">
        <include refid="selectXcxCameraTypeVo"/>
        <where>
            <if test="typeName != null  and typeName != ''"> and type_name like concat('%', #{typeName}, '%')</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="typeStatus != null "> and type_status = #{typeStatus}</if>
        </where>
        order by sort DESC
    </select>

    <select id="selectXcxCameraTypeById" parameterType="Long" resultMap="XcxCameraTypeResult">
        <include refid="selectXcxCameraTypeVo"/>
        where id = #{id}
    </select>

    <select id="selectTypeByIdList" resultMap="XcxCameraTypeResult">
        <include refid="selectXcxCameraTypeVo"/>
        where id in
            <foreach collection="idList" item="id" separator="," open="(" close=")">
                #{id}
            </foreach>
    </select>

    <select id="selectSort" resultType="java.lang.Integer">
        select count(1) from xcx_camera_first where sort = #{sort}
        <if test="id!=null">
            and id != #{id}
        </if>
    </select>

    <insert id="insertXcxCameraType" parameterType="XcxCameraType" useGeneratedKeys="true" keyProperty="id">
        insert into xcx_camera_first
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="typeName != null">type_name,</if>
            <if test="sort != null">sort,</if>
            <if test="typeStatus != null">type_status,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="typeName != null">#{typeName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="typeStatus != null">#{typeStatus},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateXcxCameraType" parameterType="XcxCameraType">
        update xcx_camera_first
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeName != null">type_name = #{typeName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="typeStatus != null">type_status = #{typeStatus},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteXcxCameraTypeById" parameterType="Long">
        delete from xcx_camera_first where id = #{id}
    </delete>

    <delete id="deleteXcxCameraTypeByIds" parameterType="String">
        delete from xcx_camera_first where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
