<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.xcx.mapper.XcxCollectionMapper">

    <resultMap type="XcxCollection" id="XcxCollectionResult">
        <result property="phone"    column="phone"    />
        <result property="contentId"    column="content_id"    />
        <result property="collection_status"    column="collectionStatus"    />
    </resultMap>

    <sql id="selectXcxCollectionVo">
        select phone, content_id from xcx_collection
    </sql>

    <select id="selectXcxCollectionList" parameterType="XcxCollection" resultMap="XcxCollectionResult">
        <include refid="selectXcxCollectionVo"/>
        <where>
            <if test="phone != null  and phone != ''"> and phone = #{phone}</if>
            <if test="contentId != null "> and content_id = #{contentId}</if>
        </where>
    </select>

    <select id="selectXcxCollectionByPhone" parameterType="String" resultMap="XcxCollectionResult">
        <include refid="selectXcxCollectionVo"/>
        where phone = #{phone}
    </select>

    <insert id="insertXcxCollection" parameterType="XcxCollection">
        insert into xcx_collection
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phone != null">phone,</if>
            <if test="contentId != null">content_id,</if>
            <if test="collectionStatus != null">collection_status,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phone != null">#{phone},</if>
            <if test="contentId != null">#{contentId},</if>
            <if test="collectionStatus != null">#{collectionStatus},</if>
        </trim>
    </insert>

    <update id="updateXcxCollection" parameterType="XcxCollection">
        update xcx_collection
        <trim prefix="SET" suffixOverrides=",">
            <if test="contentId != null">content_id = #{contentId},</if>
        </trim>
        where phone = #{phone}
    </update>

    <delete id="deleteXcxCollectionByPhone" parameterType="String">
        delete from xcx_collection where phone = #{phone}
    </delete>

    <delete id="deleteXcxCollectionByPhones" parameterType="String">
        delete from xcx_collection where phone in
        <foreach item="phone" collection="array" open="(" separator="," close=")">
            #{phone}
        </foreach>
    </delete>

    <select id="getContentListByPhone" parameterType="String" resultType="integer">
        select content_id from xcx_collection
        where phone = #{phone}
    </select>

    <delete id="deleteCollection" parameterType="XcxCollection" >
        delete from xcx_collection
        where phone = #{phone} and content_id = #{contentId};
    </delete>

</mapper>
